vpc= {
    cidr          = "172.31.0.0/16",
    dns_hostnames = true,
    dns_support   = true,
    tenancy       = "default",
    public_subnets  = ["172.31.0.0/24","172.31.1.0/24"],
    private_subnets = ["172.31.3.0/24","172.31.4.0/24","172.31.5.0/24"],
    #elasticache_subnets = []
    rds_subnets     = []
  }

kops_cluster =  {
  cluster_name ="sample"
  dns_zone = "jainankur229.xyz" # replace with your own hosted zone
  kubernetes_version = "1.20.7"
  worker_node_type = "t2.micro"
  min_worker_nodes  = 1
  max_worker_nodes = 2
  master_node_type  = "t2.micro"
  region = "us-east-1"
  state_bucket = "cluster-kops" # Replace with yur own
  node_image = "ami-04656078adf4aa403"
  addons = [ "metric-servers" ]
  nodes = [
    {
      name = "node-1",
      role = "agent",
      instanceType = "t2.micro"
      minSize = 1,
      maxSize = 1,
    },
    {
      name = "node-2",
      role = "agent",
      instanceType = "t2.micro"
      minSize = 1,
      maxSize = 1,
    },
  ]
}
