vpc= {
    cidr          = "10.2.0.0/16",
    dns_hostnames = true,
    dns_support   = true,
    tenancy       = "default",
    public_subnets  = ["10.2.0.0/24","10.2.1.0/24"],
    private_subnets = ["10.2.3.0/24","10.2.4.0/24","10.2.5.0/24","10.2.6.0/24"],
    #elasticache_subnets = []
    rds_subnets     = []
  }

kops_cluster =  {
  cluster_name ="sample"
  dns_zone = "jainankur229.xyz" # replace with your own hosted zone
  kubernetes_version = "1.20.7"
  worker_node_type = "t3.large"
  min_worker_nodes  = 1
  max_worker_nodes = 2
  master_node_type  = "t3.medium"
  region = "us-east-1"
  state_bucket = "cluster-kops" # Replace with your own
  node_image = "099720109477/ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20210415"
  addons = [ "metric-servers"
  nodes = [
    {
      name = "nodes",
      role = "agent",
      instanceType = "t3.large"
      minSize = 1,
      maxSize = 5,
    },
    {
      name = "master",
      role = "agent",
      instanceType = "t3.large"
      minSize = 1,
      maxSize = 5,
    },
  ]
}
